@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@700&family=Lora:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Roboto:wght@100&family=Source+Serif+Pro:wght@200&display=swap');

:root{
    --primary-color:blue;
}
body{
    background: #f2f2f2;
    margin-right: 0;
    font-family: 'Source Serif Pro';
    // font: 200; !!!! what are the differences between font/ font-size   
    // !!! ~ font-weight/ font-family 

    /* go to fonts.google.com then import it into the CSS*/
}


/*  
body above is called slector 
a selector can be various things 
Selector can be "tag" like body....
         also can be a class
*/
 /*margin affects everything outside of the element, padding affects inside */

.navbar{
    background:white;
    padding: 1em;   /*margin affects everything outside of the element, padding affects inside */
    .logo{
        text-decoration:none;
        font-weight:bold;
        color:black;
        font-size: 1.2em;

        span{
            color:var(--primary-color);
        }
    }

    nav{
        display: none;
    }


    .container{
        display: flex;  /*flex means flex bar(should dive in ) for display*/
        place-content: space-between; 

    }
   .mobile-menu{
           cursor: pointer;
    }   /* !!!!! why this one is not working?????*/
}


a{
    color:gray;
}

ul{  
    list-style-type: none;
    margin:0;
    padding:0;
}

section{
    padding-top: 5em 2em ；

}

.hero{
    text-align: center;
}

.left-col{
  .subhead{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:0.3em;
  }

  h1{
    font-size: 2.5em;
    line-height:1.3em;
    margin-top:.2em;
  }
   
  .primary-cta{
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 1.4em;
    border-radius: 5em;  /* make this border rounded*/
    font-weight: bold;
    display:inline-block ;  /*!!!!!!! what is display property?!!*/
  }

  .watch-video-cta{
    display:block;
    margin-top:1em;   
    img{
        margin-right: 0.5em; 
    }
  }
}


.hero-img{
    width: 60%;
    margin-top: 3em;
}

section.features-section{   // helps where does this class come from
     background:#20272E;    /* this is to define the background color*/
     color: white;  /* this is to define the color of the "content => text" */
}

ul.features-list{
    margin:0;
    padding-left: 1em;
    display:grid;
    padding-top: 1.1em;
    // come back later 

    li{
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 3em;
        position: relative;
      
        /* !!!!! */
        &:before{     // ?????????????? this is to 
            content:'';
            left: -2em;
            position:absolute;   // position in the element within the document ?
            width: 20px;
            height: 20px;
            background-image: url(../images/bullet.svg);
            background-size:contain;
            margin-right: .5em;
        }
    }
}


.features-section img{
   display: none;  // make the holding image hidden in the mobile mode

}


.testimonials-section{
    background-color: var(--primary-color);
    color: #f2f2f2;
    display: grid;

    li{
        background: #006BC6;
        text-align: center;
        padding: 2em 1em;// 2em on the top and bottom. 1em on the left-right 
        width: 80%;  // !! dive in to the percentage of width 
        margin: 5em auto 5em auto;  // top - right - bottom - left 
        border-radius: 1em;

        img{
            width: 5em;
            height:5em;
            border: 5px solid var(--primary-color); // ?? what stands for "solid"
            border-radius: 50%;  // ?? why use 50%
            margin-top: -4.5em; // ??? why use negative value
        }
    }
} 


.contact-section{
     padding-left: 1em;
   
    h2{
        font-size: 2em;
    }

    label{
        display: block;  // dispalys an element as an block element eg <p>
        // then the element will start a new line, anc takes up the whole width
        font-size: 1.2em;
        margin-bottom: .5em;
    }

    input, textarea{  // we can do to tags to togetger for the same css
       width: 100%;   // 100% width of the upper level comtainer
       padding: .8em; // inside make it other
       margin-bottom: 1em;  //push different element away from each other
       border: 1px solid gray;  // colorize the border + resize the border size
       box-sizing:border-box; // ??what is box-sizing?  dive in later

    }

    input[type = "submit"] {
        // use the "selector"   element/tag[type = ""]
        // above we can just use class, this is just another way 

        background-color: var(--primary-color);
        color:white;
        font-weight: bold;
        border:non;
        margin-bottom: 1.3em;
        border-radius: 5em;
        padding: .8em 3em;
        cursor: pointer;
        display: inline; // ??? shold dive in
    }
     
}

iframe{
    width: 100%;
    height:300px;
    margin-right: 4em;
}

nav.menu-btn{
    display: block;
}

nav{
  position: fixed;
  z-index:999;
  width: 66%;
  right: 0;  // ??????
  top: 0; // ??
  background-color: black;
  height: 100vh;// ??what is the vh? another one relative unit
  padding:1em;


  ul.primary-nav{
     margin-top:5em;
  }

  li{
    a{
        color:#f2f2f2;
        text-decoration: none;
        display:block;
        padding:.5em;
        font-size: 1.3em;
        text-align: right;
 
        &:hover{    // ???what si :hover?
             font-weight: bold;
        }
    }
  }
}


.mobile-menu-exit{
    float: right; // float tag
    cursor: pointer;
}


@media only screen and(min-width:768px){

}

